<div>
    <ul id="id">
        <li>
            <a [routerLink]="['/']">Home</a>
        </li>
        <li>
            <a [routerLink]="['/cine']">Cine</a>
        </li>
        <li>
            <a [routerLink]="['/musica']">Musica</a>
        </li>
        @for (num of randomNumbers; track num) {
            <li>
                <a [routerLink]="['/tablamultiplicar', num]">
                    Tabla aleatoria {{ num }}
                </a>
            </li>
        }
        <li>
            <a [routerLink]="['/numerodoble']">Numero Doble</a>
        </li>
        <li>
            <a [routerLink]="['/numerodoble/77']">Numero Doble 77</a> 
        </li>
        <li>
            <a [routerLink]="['/numerodoble/7']">Numero Doble 7</a>"  
        </li>
    </ul>
</div>